### Composer template
composer.phar
composer.lock
/vendor/

### IntelliJ Project Files
.idea
*.iml
out
gen

### VSCode Project Files
.vscode

### PHPUnit Files
.phpunit.result.cache
phpunit.xml

### PHP CS Fixer Files
.php-cs-fixer.cache
